@import '../../common/styles/__variables.scss';

div.tree-view-more-menu {
  &:hover {
    cursor: pointer;
    background-color: lighten($primary-color, 60%);
  }
  div.tree-view-menu-button {

  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
