rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{projectId} {
      allow read, create: if request.auth != null;
      allow delete, update: if request.auth != null
                    && request.resource.data.name == resource.data.name
                    && request.resource.data.ownerId == request.auth.uid;

      match /files/{fileId} {
        allow read, create: if request.auth != null;
        allow delete, update: if request.auth != null
                      && request.resource.data.name == resource.data.name
                      && request.resource.data.ownerId == request.auth.uid;
      }
    }
  }
}
