$primary-padding: 5px;
$primary-color: #383838;

$separator-color: #e2e2e2;

$disabled-color: #d9d9d9;

$primary-font-color: #FFFFFF;

$side-menu-width: 55px;
$header-height: 45px;

$primary-title-size: 1.1rem;

$button-card-height: 200px;
$button-card-width: 300px;
